{% trans_default_domain "locationview" %}

<div class="ez-list-toolbar">
    <h2 class="ez-list-toolbar-label">{{ 'locationview.relations.related.content'|trans()|desc('Related content - other content items used by this content.') }}</h2>
</div>
{{ include('@EzSystemsHybridPlatformUi/content/tabs/relations/table.html.twig', {'relationList': relationList}) }}

<div class="ez-list-toolbar">
    <h2 class="ez-list-toolbar-label">{{ 'locationview.relations.reverse.relations'|trans()|desc('Reverse relations - content items using this content.') }}</h2>
</div>
{{ include('@EzSystemsHybridPlatformUi/content/tabs/relations/table.html.twig', {'relationList': reverseRelations}) }}
