{%  if draftVersions %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{'locationview.versions.draft.under.edit'|trans({}, 'locationview')}}</h2>
    </div>
    {% include '@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig' with {'versions': draftVersions} %}

{% endif %}

{%  if publishedVersions %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{'locationview.versions.published.version'|trans({}, 'locationview')}}</h2>
    </div>
    {% include '@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig' with {'versions': publishedVersions} %}
{% endif %}

{%  if archivedVersions %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{'locationview.versions.archived.versions'|trans({}, 'locationview')}}</h2>
    </div>
    {% include '@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig' with {'versions': archivedVersions} %}

{% endif %}
