ez-content-view {
    display: flex;
}

ez-content-view .ez-content-view-column {
    flex: 1 0;
}

ez-content-view .ez-action-bar {
    flex: 0 0 var(--ez-toolbar-width);
    background: var(--ez-color-action-bar);
    color: var(--ez-color-text-base-inverted);
}

ez-content-view .ez-tabs-panel .ez-table-data {
    margin-bottom: 3em;
}

ez-content-view .ez-tabs-panel,
ez-content-view ez-subitem {
    margin: 2em;
}
