<ez-notification type="{{ type }}" timeout="{{ timeout }}"{% if copyable is not empty %} copyable{% endif %}{% if details is not empty %} details="{{ details }}"{% endif %}>
    <p>{{ message }}</p>
</ez-notification>
