services:
    ezsystems.platformui.hybrid.request_matcher.admin:
        class: EzSystems\HybridPlatformUi\Http\HardcodedAdminRequestMatcher
        calls:
            - [setExcludedRoutesPrefixes, ['%ezpublish.default_router.non_siteaccess_aware_routes%']]
        public: false

    ezsystems.platformui.hybrid.request_matcher.ajax_update:
        class: EzSystems\HybridPlatformUi\Http\AjaxUpdateRequestMatcher
        public: false

    ezsystems.platformui.hybrid.event_subscriber.app_renderer:
        class: EzSystems\HybridPlatformUi\EventSubscriber\AppRendererSubscriber
        arguments:
            - "@ezsystems.platformui.component.app"
            - "@ezsystems.platform_ui.hybrid.app.request_app_response_renderer"
            - "@ezsystems.hybrid_platform_ui.http.request_matcher.hybrid"
        tags:
            - {name: kernel.event_subscriber}

    ezsystems.platform_ui.hybrid.app.request_app_response_renderer:
        class: EzSystems\HybridPlatformUi\App\RequestAppResponseRenderer
        arguments:
            - '@=service("request_stack").getMasterRequest()'
            - '@ezsystems.platformui.hybrid.request_matcher.ajax_update'
        public: false

    ezsystems.platformui.hybrid.event_subscriber.component_renderer:
        class: EzSystems\HybridPlatformUi\EventSubscriber\ComponentRendererSubscriber
        arguments:
            - "@ezsystems.platformui.pjax.request_matcher"
        tags:
            - {name: kernel.event_subscriber}

    ezsystems.hybrid_platform_ui.http.request_matcher.html_format:
        class: EzSystems\HybridPlatformUi\Http\HtmlFormatRequestMatcher
        public: false

    ezsystems.hybrid_platform_ui.http.request_matcher.hybrid:
        class: EzSystems\HybridPlatformUi\Http\ChainRequestMatcher
        arguments:
            - "@ezsystems.platformui.hybrid.request_matcher.admin"
            - "@ezsystems.hybrid_platform_ui.http.request_matcher.html_format"
        public: false

    ezsystems.platformui.hybrid.event_subscriber.core_view:
        class: EzSystems\HybridPlatformUi\EventSubscriber\CoreViewSubscriber
        arguments:
            - "@ezsystems.platformui.hybrid.mapper.core_view_to_main_content"
            - "@ezsystems.platformui.hybrid.request_matcher.admin"
        tags:
            - {name: kernel.event_subscriber}

    ezsystems.platformui.hybrid.mapper.core_view_to_main_content:
        class: EzSystems\HybridPlatformUi\View\CoreViewMainContentMapper
        arguments:
            - "@ezsystems.platformui.component.maincontent"
        public: false
