services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    _instanceof:
        Symfony\Component\DependencyInjection\ContainerAwareInterface:
            calls:
                - [setContainer, ['@service_container']]

    EzSystems\HybridPlatformUi\:
        resource: '../../../lib/*'
        exclude: '../../../lib/{Components,NavigationHub,Repository/Values,Http/Response}'

    EzSystems\HybridPlatformUiBundle\Controller\:
        resource: '../../Controller'
        public: true
        tags: ['controller.service_arguments']

    EzSystems\HybridPlatformUi\EventSubscriber\:
        resource: '../../../lib/EventSubscriber'
        public: true
        tags: ['kernel.event_subscriber']

    EzSystems\HybridPlatformUi\EventSubscriber\PjaxSubscriber:
        arguments:
            $pjaxRequestMatcher: "@ezsystems.platformui.pjax.request_matcher"

    EzSystems\HybridPlatformUi\Http\AdminRequestMatcher:
        alias: EzSystems\HybridPlatformUi\Http\HardcodedAdminRequestMatcher

    EzSystems\HybridPlatformUi\Http\HardcodedAdminRequestMatcher:
        calls:
            - [setExcludedRoutesPrefixes, ['%ezpublish.default_router.non_siteaccess_aware_routes%']]

    EzSystems\HybridPlatformUi\App\AppResponseRenderer:
        alias: EzSystems\HybridPlatformUi\App\RequestAppResponseRenderer

    EzSystems\HybridPlatformUi\App\RequestAppResponseRenderer:
        arguments:
            - '@=service("request_stack").getMasterRequest()'

    EzSystems\HybridPlatformUi\Http\HtmlFormatRequestMatcher:
        alias: EzSystems\HybridPlatformUi\Http\FormatAttributeHtmlFormatRequestMatcher

    EzSystems\HybridPlatformUi\Http\HybridRequestMatcher:
        alias: EzSystems\HybridPlatformUi\Http\ChainHybridRequestMatcher

    EzSystems\HybridPlatformUi\View\CoreViewMainContentMapper:
        alias: 'EzSystems\HybridPlatformUi\View\AppConfigCoreViewMainContentMapper'

    Symfony\Component\Routing\RouterInterface: '@router'
