:root {
    --ez-base-font-family: "Noto Sans", Arial, Helvetica, sans-serif;

    /* text colors */
    --ez-color-text-base: #333;
    --ez-color-text-base-inverted: #fff;
    --ez-color-text-base-pale: #878787;
    --ez-color-text-base-light: #6b6b6b;
    --ez-color-text-base-medium: #4b4b4b;
    --ez-color-text-base-deep: #0a4b67;

    --ez-color-text-error: #d92d42;
    --ez-color-hyperlink: #0645ad;


    /* primary colors */
    --ez-color-primary: #f15a10;
    --ez-color-primary-hover: #c3480b;
    --ez-color-secondary: #0f6d95;
    --ez-color-secondary-hover: #0a4b67;
    --ez-color-neutral: #757575;
    --ez-color-neutral-hover: #5c5c5c;
    --ez-color-negative: #cb2540;
    --ez-color-negative-hover: #a01d32;

    /* secondary colors */
    --ez-color-action-bar: #106d95; /* bad name, as it'll probably be used elsewhere */
    --ez-color-discovery-bar: #667076; /* bad name, as it'll probably be used elsewhere */
    --ez-color-button-focus: #fcb700;
    --ez-color-button-focus-alt: #2b84b1;

    /* background colors */
    --ez-color-ground-base: #fafafa;
    --ez-color-ground-base-light: #f3f3f3;
    --ez-color-ground-base-medium: #e5e3e3;
}
