<dialog id="{{ dialogId }}" class="ez-modal">
    <section>
        <p>{{ message }}</p>
    </section>
    <footer>
        <button type="button" class="ez-button ez-button-secondary ez-js-close-modal">
            {{ 'confirmbox.cancel'|trans({}, 'confirmbox')|desc('Cancel') }}
        </button>
        {{
            form_widget(confirmButton, {
                'label': 'confirmbox.confirm'|trans({}, 'confirmbox')|desc('Confirm'),
                'attr': {'class': 'ez-button ez-button-primary ez-js-close-modal'}
            })
        }}
    </footer>
</dialog>
